.right {
  text-align: right;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 600;
}

.fs-10 {
  font-size: 10px;
}

.fs-15 {
  font-size: 15px;
}

.fs-20 {
  font-size: 20px;
}

.fs-30 {
  font-size: 30px;
}

.fs-45 {
  font-size: 45px;
}

.upper {
  text-transform: uppercase;
}
